In [ ]:
import os
print(os.getcwd()) # 작업경로 확인
os.chdir("/Users/parkdonghyeok/Desktop/Python") # 작업경로 변경

In [ ]:
a = 1
print(a)
del(a) # 변수 삭제
print(a)

In [ ]:
%reset # 모든 변수 삭제

In [ ]:
%autosave 60 # 60초 마다 자동저장

In [49]:
%pip install --user pandas #library 설치

Requirement already satisfied: pandas in /Users/parkdonghyeok/opt/anaconda3/lib/python3.8/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/parkdonghyeok/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /Users/parkdonghyeok/opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.21.3)
Requirement already satisfied: pytz>=2017.3 in /Users/parkdonghyeok/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/parkdonghyeok/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
print(pd.__version__)

1.3.4

# 문자열

In [ ]:
print(type(100)) # 자료 타입 확인
print(type("Hello"))
print(type(3.14))

In [ ]:
width = 10  # print
height = 20
print('사각형의 넓이는 ', width * height, '이다')
print('사각형의 넓이는 %d 이다' % (width * height))

In [ ]:
import numpy as np
radius = 5
area = radius ** 2 * np.pi
print('원의 넓이는', round(area, 2))

In [ ]:
print('A')
print('B')
print(ord('A')) # 문자의 아스키코드
print(ord('B'))
print(chr(65))  # 아스키코드에 해당하는 문자
print(chr(66))
print(chr(67))
print(chr(68))

In [ ]:
print('개행문자 사용하지 않은 경우') # 개행문자
print('죽는 날까지 하늘을 우러러 한 점 부끄럼 없기를 잎새에 이는 바람에도 나는 괴로웠다')
print('개행문자 사용한 경우')
print('죽는 날까지 하늘을 우러러 \n한 점 부끄럼 없기를 \n잎새에 이는 바람에도 나는 괴로웠다')

In [ ]:
strVAL = 'I\'m a boy' # 문자로써 '' 쓰기
print(strVAL)

In [ ]:
strVAL = input('') # 자료 입력(input) 
print(strVAL) # 문자형
print(type(strVAL))

In [ ]:
strVAL = int(input('')) # 자료 입력(input) 
print(strVAL) # 정수형
print(type(strVAL))

In [ ]:
# ctrl + / : 주석으로 변경
# code #
'''code'''
"""code"""

# 주석 관련 파이썬 예제
fruit1 = '수박'
fruit2 = '포도'
fruit3 = '키위'
myfavorite = '' # 좋아하는 과일의 목록

myfavorite += fruit1
myfavorite += fruit2
myfavorite += fruit3

print(myfavorite)

In [1]:
s = 'hello world'
print(s.split()) # split

['hello', 'world']

In [15]:
k = "10,000"
print("k :", k) # 특정 문자 제거 또는 변경
print("k.replace(\",\", \"\") :", k.replace(",", ""))

k : 10,000
k.replace(",", "") : 10000

# 수학 연산자

In [ ]:
a = 5
b = 3

print(a + b)
print(a / b)
print(a // b)
print(a % b)
print(a * b)
print(a ** b)

In [ ]:
a = 5
b = 3
a += b
print(a)

a = 5
b = 3
a -= b
print(a)

a = 5
b = 3
a *= b
print(a)

a = 5
b = 3
a /= b
print(a)

a = 5
b = 3
a //= b
print(a)

a = 5
b = 3
a %= b
print(a)

a = 5
b = 3
a **= b
print(a)

# 논리 연산자

In [ ]:
a = 10
b = 11
c = 12
d = 10

print('a == b : ', a == b)
print('a < b : ', a < b)
print('a >= c : ', a >= c)
print('a == d : ', a == d)

In [ ]:
print('a == b : ', a == b)
print('not(a == b) : ', not(a == b))
print('(a == b) and (a == d) : ', (a == b) and (a == d))
print('(a == b) or (a == d) : ', (a == b) or (a == d))

In [43]:
a = [1,2,3]
print(1 in a)
print(1 not in a)
print(4 in a)

True
False
False

In [41]:
p = {'컵라면' : 800, '삼각김밥' : 1000, '소세지' : 1500}
print('컵라면' in p) # 해당 key값이 딕셔너리에 있는가
print('컵라면' not in p) # 해당 key값이 딕셔너리에 없는가
print('치킨' in p) # 해당 key값이 딕셔너리에 있는가

True
False
False

In [ ]:
a = ()

# If문

In [ ]:
a = int(input('정수 입력'))

if (a < 0):
    print('a는 0보다 작다.')
elif (a > 0):
    print('a는 0보다 크다.')
else:
    print('a는 0이다')

# 반복문(for)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for i in range(5):
    print(i, end = "") # 가로로 붙혀서 print

In [ ]:
for i in range(2,5):
    print(i)

In [ ]:
i = float(i)
for i in range(0, 20, 3):
    print(i)

# 반복문(while)

In [ ]:
i = 0
while (i < 5):
    print('Programming')
    i += 1

In [6]:
i = 1
sum_ = 0
while (i < 11):
    sum_ += i
    i += 1
print(sum_)

55

In [ ]:
j = 2
while (j < 10):
    i = 1
    while (i < 10):
        print('%d * %d = %d' %(j, i, j * i))
        i += 1
    print()
    j += 1

In [ ]:
a = 0

while (True):
    if (a > 100):
        break
    print('a의 값은 %d' %(a))
    a += 1
print('a는 100 보다 크다.')

In [ ]:
a = 0

while (a < 20):
    a += 1
    if ((a > 8) and (a < 12)):
        continue
    print('a의 값은 : %d' %(a))

# 사용자 지정함수

In [ ]:
def plus(a, b):
    return a + b
def minus(a, b):
    return a - b
def multiple(a, b):
    return a * b
def devide(a, b):
    return a / b

i = int(input())
j = int(input())
print()
print(plus(i, j))
print(minus(i, j))
print(multiple(i, j))
print(devide(i, j))

In [ ]:
def f():
    a = input()
    print(a)
    f()
f()

# 스택 메모리

In [1]:
def k():
    print('2. lee = 10 변수를 메모리에 적재합니다.')
    lee = 10
    print('3. j() 함수를 호출하였습니다.')
    j()
    print('6. lee = 10변수를 메모리에서 소멸합니다.')
    
def j():
    print('4. lee = 20 변수를 메모리에 적재합니다.')
    lee = 20
    print('5. lee = 20 변수를 메로리에 소멸합니다.')
    
print('1. k() 함수를 호출하였습니다.')
k()

1. k() 함수를 호출하였습니다.
2. lee = 10 변수를 메모리에 적재합니다.
3. j() 함수를 호출하였습니다.
4. lee = 20 변수를 메모리에 적재합니다.
5. lee = 20 변수를 메로리에 소멸합니다.
6. lee = 10변수를 메모리에서 소멸합니다.

# 지역변수 / 전역변수

In [7]:
h = 100 # 전역변수

def sum_(value):
    h = 20 # 지역변수
    h += value
    print('h 출력 : %d' %(h))
    
sum_(10)
print('h 출력 : %d' %(h))

h 출력 : 30
h 출력 : 100

In [8]:
h = 100

def sum_(value):
    global h # 전역변수 사용하기
    h += value
    print('h 출력 : %d' %(h))
    
sum_(10)
print('h 출력 : %d' %(h))

h 출력 : 110
h 출력 : 110

# List

In [ ]:
a = []
a.append(1) # 리스트에 요소 추가(정수)
print(a)
a.append(2)
print(a)

In [ ]:
a = []
a.extend("1") # 리스트에 요소 추가(문자)
print(a)
a.append("2")
print(a)

In [9]:
k = [1, 2, 3]
sum_ = k[0] + k[1] + k[2]
print(sum_)

6

In [10]:
k = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum_ = 0
for i in range(10):
    sum_ += k[i] 
print(sum_)

55

In [ ]:
k = [1, 2, 3, 4, 5, 6, 7]
print(k[0 : 2]) # 리스트 분할
print(k[0 : 5])
print(k[0 : 6])

In [12]:
k = [10, 20, 30] # 리스트 연산
t = [40, 50, 60]

print(k + t)
print(k * 3)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [13]:
k = [1, 2, 3, 4]
k[0] = 10 # 리스트 요소 변경
k[2] = 30
print(k)

[10, 2, 30, 4]

In [14]:
k = [1, 2, 3, 4] 
k[2:] = [30, 31, 32] # 리스트 요소 변경 & 추가
print(k)

[1, 2, 30, 31, 32]

In [15]:
k = [1, 2, 3, 4] # 리스트 요소 삭제
del(k[2])
print(k)

[1, 2, 4]

In [16]:
k = [1, 2, 3, 4] # 리스트 요소 삭제
k[1:3] = []
print(k)

[1, 4]

In [17]:
k = [1, 2, 3, 4] # 리스트 요소 삭제
del(k[1:3])
print(k)

[1, 4]

In [7]:
k = [1, 2, 3, 4, 5, 6]
a = [1000, 2000]
print('k : ', k)
print()

k.append(50) # 항목추가
print('append(50) : ', k)
print()

k.pop() # 끝 항목 삭제
print('pop() : ', k)
print()

k.reverse() # 역순정렬
print('reverse() : ', k)
print()

k.sort() # 오름차순 정렬
print('k.sort() : ', k)
print()

k.remove(2) # 요소 삭제(요소로 접근)
print('k.remove(2) : ', k)
print()

del(k[2]) # 요소 삭제(인덱스로 접근)
print('del(k[2]) : ', k)
print()

k.insert(1, 3) # 지정한 위치에 값 삽입
print('k.insert(1, 3) : ', k)
print()

k.extend(a) # 리스트와 리스트 더하기
print('k.extend(a) : ', k)
print()

k.count(3) # 특정 값의 개수
print('k.count(3) : ', k.count(3))
print()

len(k) # 리스트 길이
print('len(k) : ', len(k))
print()

k.index(5) # 특정 값의 인덱스
print('index(5) : ', k.index(5))
print()

k :  [1, 2, 3, 4, 5, 6]

append(50) :  [1, 2, 3, 4, 5, 6, 50]

pop() :  [1, 2, 3, 4, 5, 6]

reverse() :  [6, 5, 4, 3, 2, 1]

k.sort() :  [1, 2, 3, 4, 5, 6]

k.remove(2) :  [1, 3, 4, 5, 6]

del(k[2]) :  [1, 3, 5, 6]

k.insert(1, 3) :  [1, 3, 3, 5, 6]

k.extend(a) :  [1, 3, 3, 5, 6, 1000, 2000]

k.count(3) :  2

len(k) :  7

index(5) :  3

# 튜플

In [26]:
tp1 = (1, 2, 3, 4) # 튜플 생성
tp2 = 1, 2, 3, 4
print(tp1, type(tp1))
print(tp2, type(tp2))

tp3 = (10,)
tp4 = (10) # 튜플이 아니라 정수
tp5 = 10,
print(tp3, type(tp3))
print(tp4, type(tp4))
print(tp5, type(tp5))

(1, 2, 3, 4) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>
(10,) <class 'tuple'>
10 <class 'int'>
(10,) <class 'tuple'>

In [27]:
tp = (1, 2, 3, 4)
print('tp[1] : ', tp[1]) # 튜플 원소 출력
print('tp[3] : ', tp[3])

sum_ = tp[0] + tp[1] + tp[2] + tp[3] # 튜플 원소 더하기
print('sum_ : ', sum_ )

tp[1] :  2
tp[3] :  4
sum_ :  10

In [ ]:
tp = (1, 2, 3, 4) # 튜플 분할
print(tp[1:3])
print(tp[1:])
print(tp[:3])

In [ ]:
tp1 = (1, 2)
tp2 = ('짝',)
print(tp1 + tp2) # 튜플 연산
print(tp2 * 3)

In [18]:
mytp = ('나 혼자', '파이썬')
print('mytp : ',mytp)
print('type(mytp) : ',type(mytp))
print()

mylist = list(mytp) # 튜플 -> 리스트 변환
print('mylist : ', mylist)
print('type(mylist)', type(mylist))
print()

mylist[0] = '다 함께'
print('mylist[0] = "다 함께" 변경 후 : ', mylist)
print()

mytp = tuple(mylist) # 리스트 -> 튜플 변환
print('mytp : ', mytp)
print('type(mytp) : ',type(mytp))

mytp :  ('나 혼자', '파이썬')
type(mytp) :  <class 'tuple'>

mylist :  ['나 혼자', '파이썬']
type(mylist) <class 'list'>

mylist[0] = "다 함께" 변경 후 :  ['다 함께', '파이썬']

mytp :  ('다 함께', '파이썬')
type(mytp) :  <class 'tuple'>

# Dictionary

In [28]:
p = {'컵라면' : 800, '삼각김밥' : 1000, '소세지' : 1500} # 딕셔너리 생성
w = {'boy' : '소년', 'girl' : '소녀', 'family' : '가족'} 

print(p)
print(w)

{'컵라면': 800, '삼각김밥': 1000, '소세지': 1500}
{'boy': '소년', 'girl': '소녀', 'family': '가족'}

In [29]:
p = {'컵라면' : 800, '삼각김밥' : 1000, '소세지' : 1500}

p['오뎅'] = 2000 # 딕셔너리 원소 추가
p['닭다리'] = 3000
p['아이스크림'] = 1000
print(p)

{'컵라면': 800, '삼각김밥': 1000, '소세지': 1500, '오뎅': 2000, '닭다리': 3000, '아이스크림': 1000}

In [ ]:
p = {'컵라면' : 800, '삼각김밥' : 1000, '소세지' : 1500}

del(p['컵라면']) # 딕셔너리 원소 삭제
del(p['소세지'])

print(p)

In [30]:
p = {'컵라면' : 800, '삼각김밥' : 1000, '소세지' : 1500}
print(p.get('삼각김밥')) # key값에 해당하는 value
print(p.keys()) # key값 출력
print(p.values()) # value값 출력

1000
dict_keys(['컵라면', '삼각김밥', '소세지'])
dict_values([800, 1000, 1500])

In [32]:
p = {'컵라면' : 800, '삼각김밥' : 1000, '소세지' : 1500}
p_k = list(p.keys()) # key값을 리스트화
print(p_k)
p_v = list(p.values()) # value값을 리스트화
print(p_v)

['컵라면', '삼각김밥', '소세지']
[800, 1000, 1500]

In [33]:
'컵라면' in p # 해당 key값이 딕셔너리에 있는가

True

In [34]:
'컵라면' not in p # 해당 key값이 딕셔너리에 없는가

False

In [ ]:
'치킨' in p # 해당 key값이 딕셔너리에 있는가

In [ ]:
arr_list = [1, 2, 3, 4, 5]
if (9 not in arr_list):
    print('9가 없다.')
else:
    print('9가 있다.')

In [ ]:
str_ = 'Hello'
if ('a' not in str_):
    print('a가 문자열 안에 없다.')
else:
    print('a가 문자열 안에 있다.')

In [ ]:
df_list = ['kim_a', 'kim_b', 'kim_c', 'seo_a', 'seo_b', 'seo_c']
for col in df_list:
    if ('kim' not in col):
        print(col)

In [ ]:
capital = {'네팔' : '카트만두',
          '대한민국' : '서울',
          '일본' : '도쿄',
          '중국' : '베이징',
          '이탈리아' : '로마',
          '러시아' : '모스크바',
          '독일' : '베를린',
          '미국' : '워싱턴',
          '프랑스' : '파리',
          '영국' : '런던'}
while (True):
    contry = input(str(list(capital.keys())) + "나라의 수도는 무엇일까요? ")
    if (contry in capital):
        print(contry, '의 수도는', capital.get(contry), '입니다.')
    elif (contry == "exit"):
        break
    else:
        print('그런 나라 없습니다.')

In [ ]:
df_list = ['kim_a', 'kim_b', 'kim_c', 'seo_a', 'seo_b', 'seo_c']
unselect_list = ['kim_a', 'seo_a']

for col in df_list:
    if (col not in unselect_list):
        print(col)

In [ ]:
df_list = ['c programming', 'python programming', 'mysql', 'jquery']

for col in df_list:
    if ('pro' not in col):
        print(col)

In [ ]:
print('i' + ' love' + ' you')

str1 = 'i'
str2 = ' love'
str3 = ' you'
print(str1 + str2 + str3)

In [ ]:
print('-' * 30)
print('i ' + 'love ' * 3 + 'you')
print('-' * 30)

In [ ]:
str = '답은 정해져 있어 너는 대답만 해'
print(str[0], end = '')
print(str[3], end = '')
print(str[10], end = '')

In [ ]:
str1 = '다시 합창 합시다'
print(str1)
str2 = ''

count = len(str1)

for i in range(0, count):
    str2 += str1[count - (i + 1)]
print('str1 : ', str1)
print('str2 : ', str2)

In [ ]:
str = 'To be or not to be'

print(str[0] + str[1] + str[2] + str[3] +str[4])
print(str[0:5])
print(str[6:8])
print(str[9:16])

In [ ]:
str = 'To be or not to be'

print(str[0:])
print(str[:8])
print(str[:])

In [ ]:
value = int(input('정수값을 입력하세요. : '))
print('현재 시간은 %d시 입니다.' % (value))

value = float(input('실수값을 입력하세요. : '))
print('현재 체온은 %.1f도 입니다.' % (value))

value = input('문자열을 입력하세요. : ')
print('나는 %s에 살고 있습니다.' % (value))

In [ ]:
print('강수 확률은 %d%%입니다.' % 60)

In [ ]:
'현재 시간은 {0}시 입니다.' .format(3)

In [ ]:
'나는 {0}에 살고 있습니다.' .format('수원')

In [ ]:
'현재 시간은 {0}시 {1}분 입니다.' .format(12, 30)

In [ ]:
print('현재 시간은 {0}시 {1}분 입니다.' .format(12, 30))

In [ ]:
print('현재 기온은 %d' %(40))

In [ ]:
'현재 기온은 %d' %(40)

In [ ]:
value = int(input('정수값을 입력하세요. : '))
print('현재 시간은 {0}시 입니다.' .format(value))

value = input('문자열을 입력하세요. : ')
print('나는 {0}에 살고 있습니다.' .format(value))
      
value1 = int(input('첫 번째정수값을 입력하세요. : '))
value2 = int(input('두 번째정수값을 입력하세요. : '))
print('현재 시간은 {0}시 {1}분 입니다' .format(12, 30))

In [ ]:
str1 = '간장 공장 공장장은 강 공장장이고 된장 공장 공장장은 공 공장장이다.'

chr1 = str1.count('공')
chr2 = str1.count('장')

print('"공"의 개수 : %d' % chr1)
print('"장"의 개수 : %d' % chr2)

str2 = '내가 그린 기린 그림은 잘 그린 기린 그림이고 네가 그린 기린 그림은 잘 못 그린 기린 그림이다.'

str2_1 = str2.count('그린')
str2_2 = str2.count('기린')
str2_3 = str2.count('그림')

print('"그린"의 개수 : %d' % (str2_1))
print('"기린"의 개수 : %d' % (str2_2))
print('"그림"의 개수 : %d' % (str2_3))

In [ ]:
str1 = '간장 공장 공장장은 강 공장장이고 된장 공장 공장장은 공 공장장이다.'

chr1 = str1.find('공')
chr2 = str1.index('장')

print('"공"의 위치 : %d' % (chr1))
print('"장"의 위치 : %d' % (chr2))

str2 = '내가 그린 기린 그림은 잘 그린 기린 그림이고 네가 그린 기린 그림은 잘 못 그린 기린 그림이다.'

str2_1 = str2.find('그린')
str2_2 = str2.index('기린')
str2_3 = str2.find('음악')

print('"그린"의 위치 : %d' % (str2_1))
print('"기린"의 위치 : %d' % (str2_2))
print('"음악"의 위치 : %d' % (str2_3))

In [ ]:
train_str = '칙칙폭폭'
num_str = '123456789'

div_str1 = '-'.join(train_str)
div_str2 = ':'.join(num_str)

print(div_str1)
print(div_str2)

In [ ]:
ani_list = ['강아지', '고양이', '원숭이', '코끼리']
time_list = ['12', '30', '55']

ani_str = '+'.join(ani_list)
time_str = ':'.join(time_list)

print(ani_str)
print(time_str)

In [ ]:
planet_str = '수성-금성-지구-화성-목성-토성-천왕성-해왕성'
time_str = '12시:30분:55초'

planet_list = planet_str.split('-')
time_list = time_str.split(':')

print(planet_list)
print(time_list)

In [ ]:
eng_str = input('영문자를 입력하세요. : ')

upper_str = eng_str.upper()
lower_str = eng_str.lower()

print('대문자로 변환 : %s' % (upper_str))
print('소문자로 변환 : %s' % (lower_str))

In [ ]:
str1 = ' 죽는 날까지 하늘을 우러러'
str2 = '한점 부끄럼이 없기를 '
str3 = ' 잎새에 이는 바람에도 '

lstrip_str = str1.lstrip()
rstrip_str = str1.rstrip()
strip_str = str1.strip()

print('str1 : %s' % (str1))
print('str2 : %s' % (str2))
print('str3 : %s' % (str3))

print()
print('왼쪽 공백 없애기 : %s' %(lstrip_str))
print('오른쪽 공백 없애기 : %s' %(rstrip_str))
print('양쪽 공백 없애기 : %s' %(strip_str))

In [ ]:
while (True):
    str_ = input('문자열을 입력하세요. :')
    
    if (str_.isdigit()):  # 숫자로 구성되어 있는가
        print('문자열은 숫자로 구성되어 있습니다.')
    elif (str_.isalpha()): # 문자로 구성되어 있는가 
        print('문자열은 글자로 구성되어 있습니다.')
        if (str_.isupper()): # 대문자로 구성되어 있는가
            print('문자열은 대문자로 구성되어 있습니다.')
        elif (str_.islower()): # 소문자로 구성되어 있는가
            print('문자열은 소문자로 구성되어 있습니다.')
    elif (str_.isspace()): # 공백으로 구성되어 있는가
        print('문자열은 공백으로 구성되어 있습니다.')
        break
    else:
        print('모르겠습니다.')

In [ ]:
a = list(range(1, 26, 1))
print(a)

print(a[12])
print(a[-13])

In [ ]:
import os
os.getcwd()

In [ ]:
fName = 'poem.txt'
fp = open(fName, "rt")
print(fp.read())
fp.close()

In [ ]:
fName = 'poem.txt'
fp = open(fName, "rt")

strline = fp.readline()
print(strline)

strline = fp.readline()
print(strline)

strline = fp.readline()
print(strline)

strline = fp.readline()
print(strline)



fp.close()

In [ ]:
fName = 'poem.txt'
fp = open(fName, "rt")

while (True):
    strline = fp.readline()
    if (strline ==''):
        break
    print(strline)



fp.close()

In [ ]:
fName = 'poem.txt'
fp = open(fName, "rt")

strline = fp.readlines()
print(strline)

fp.close()

In [ ]:
fName = 'poem.txt'
fp = open(fName, "rt")

strline = fp.readlines()

for strlist in strline:
    print(strlist)

fp.close()

In [ ]:
import os
fName = input('파일명을 입력하세요. : ')
print()

if (os.path.exists(fName)):
    with open(fName, "r") as fp:
        strline = fp.readlines()
        for strlist in strline:
            print(strlist)
else:
    print('%s 파일은 존재하지 않습니다.' % (fName))

In [ ]:
fName = 'file.txt'

with open(fName, 'w') as fp:
    while (True):
        instr = input('데이터 입력 : ')
        
        if (instr == '\q'):
            break
        fp.writelines(instr + '\n')
with open(fName, 'r') as fp:
    strline = fp.readlines()
    print()
    print('<출력>')
    for strlist in strline:
        print(strlist)

In [ ]:
srcfile = 'file.txt'
destfile = 'destFile.txt'

sfp = open(srcfile, 'r')
dfp = open(destfile, 'w')

slist = sfp.readlines()
for instr in slist:
    dfp.writelines(instr)
    
sfp.close()
dfp.close()

print('file.text 파일에서 destfile.txt로 복사하였습니다.')

In [ ]:
srcfile = 'sea.jpg'
destfile = 'seacpy.jpg'

sfp = open(srcfile, 'rb')
dfp = open(destfile, 'wb')

while (True):
    sbyte = sfp.read()
    if (not sbyte):
        break
    dfp.write(sbyte)
    
sfp.close()
dfp.close()

print('sea.jpg 파일에서 seacpy.jpg로 복사하였습니다.')

In [ ]:
import os 

srcfile = 'SleepAway.mp3'

if (os.path.exists(srcfile)):
    sfp = open(srcfile, 'rb')
    
    sfp.seek(-128, 2)
    tdata = sfp.read(128)
    
    title = tdata[3:33].decode()
    print('제목 : ', title)
    
    artist = tdata[33:63].decode()
    print('가수 : ', artist)
    
    mdate = tdata[93:97].decode()
    print('출시년도 : ', mdate)
    
    etc = tdata[97:127].decode()
    print('기타정보 : ', etc)
    
    sfp.close()
    print('\n 음악 파일 정보를 정상적으로 출력하였습니다.')

# DataBase

In [ ]:
import sqlite3
conn = sqlite3.connect('bookStoreDB')
print('1. DB연결성공')

In [ ]:
cur = conn.cursor()
print('2. 커서 생성 성공')

In [ ]:
cur.execute('create table if not exists bookItem (item char(100), author char(50), publisher char(50), stock int)')
print('3. 테이블 생성')

In [ ]:
# cur.execute("delete from bookItem")
# conn.commit()

In [ ]:
cur.execute("insert into bookItem values('C programming', 'lee', 'digitalbooks', '100')")
cur.execute("insert into bookItem values('Python', 'lee', 'digitalbooks', '50')")
cur.execute("insert into bookItem values('Javascript', 'lee', 'hyejiwon', '300')")
cur.execute("insert into bookItem values('Django', 'kim', 'hyejiwon', '30')")
print('4. 데이터 입력')

In [ ]:
conn.commit()
print('5.데이터 저장')

In [ ]:
cur.execute("select * from bookItem;")
print('6. 데이터 조회')

In [ ]:
# row = cur.fetchall()
# print(row)
# print('\n7. 데이터 출력')

In [ ]:
# row = cur.fetchmany(5)
# print(row)
# print('\n7. 데이터 출력')

In [ ]:
while (True):
    row = cur.fetchone()
    if (row == None):
        break
    print(row)
print('\n7. 데이터 출력')

In [ ]:
conn.close()
print('8. DB연결 종료')

# Class

In [ ]:
class Car:
    # 자동차의 멤버 변수
    __color = ""
    __speed = 0
    __direction = ""
    
    # 자동차의 메소드
    def set_Speed(self, s_value):
        self.__speed = s_value
        
    def set_Direction(self, d_value):
        self.__direction = d_value
    
    def set_Color(self, c_value):
        self.__color = c_value
        
    def get_Speed(self):
        return self.__speed
        
    def get_Direction(self):
        return self.__direction
    
    def get_Color(self):
        return self.__color
        
mycar1 = Car()
mycar2 = Car()
mycar3 = Car()

mycar1.set_Color("초록색")
mycar1.set_Speed(30)
mycar1.set_Direction("전진")

# mycar2.__color = "빨강색"
# mycar2.__speed = 60
# mycar2.__direction = "후진"

# mycar3.__color = "노랑색"
# mycar3.__speed = 100
# mycar3.__direction = "전진"

print('자동차1의 정보 : ', mycar1.get_Color(), mycar1.get_Speed(), mycar1.get_Direction())

In [ ]:
%reset

In [ ]:
del(Car)