In [ ]:
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")

In [ ]:
for i in range(5):
    {
        print("Hello World")
    }

In [ ]:
value = 100;
print(value);
value = 200;
print(value);
value = 'Hello';
print(value);

In [ ]:
print(type(100))
print(type("Hello"))
print(type(3.14))

In [ ]:
width = 10
height = 20
print('사각형의 넓이는 ', width * height, '이다')

In [ ]:
i = 0
while (i < 100):
    print(i)
    i += 1
    if (i == 10):
        break

In [ ]:
import numpy as np
radius = 5
area = radius ** 2 * np.pi
print('원의 넓이는', round(area, 2))

In [ ]:
print(type('abcd'))
print('12345')
print(type('12345'))

In [ ]:
def f(x):
    return x**2
print(f(2))

In [ ]:
print('A')
print('B')
print(ord('A'))
print(ord('B'))
print(chr(65))
print(chr(66))
print(chr(67))
print(chr(68))

In [ ]:
i = 0
while (i < 1000):
    print(chr(i), '$$$', i)
    i += 1

In [ ]:
print(chr(337))

In [ ]:
print('개행문자 사용하지 않은 경우')
print('죽는 날까지 하늘을 우러러 한 점 부끄럼 없기를 잎새에 이는 바람에도 나는 괴로웠다')
print('개행문자 사용한 경우')
print('죽는 날까지 하늘을 우러러 \n한 점 부끄럼 없기를 \n잎새에 이는 바람에도 나는 괴로웠다')

In [ ]:
strVAl = 'She's gone'
print(strVAL)

In [ ]:
strVAL = "She's gone"
print(strVAL)

In [ ]:
s

In [ ]:
strVAl = 'She said "goodbye"'
print(strVAL)

In [ ]:
strVAL = input('좋아하는 과일은 무엇인가요?')
print(strVAL + '을(를) 좋아합니다.')

In [ ]:
strID = input('아이디를 입력하세요')
strPW = input('비밀번호를 입력하세요')
print('입력한 ID는' + strID + '입니다.')
print('입력한 PW는' + strPW + '입니다.')

In [ ]:
strnum1 = input('첫 번째 숫자를 입력하세요')
strnum2 = input('두 번재 숫자를 입력하세요')
strnum1 = int(strnum1)
strnum2 = int(strnum2)
print('두 수의 합은' , strnum1 + strnum2, '입니다.')

In [ ]:
strnum1 = input('첫 번째 숫자를 입력하세요')
print(type(strnum1))
strnum1 = int(strnum1)
print(type(strnum1))

In [ ]:
num = 300
strnum1 = input('첫 번째 숫자를 입력하세요')
Total = num + int(strnum1)
print('두 수의 합은', Total, '입니다.')

In [ ]:
# ctrl + / : 주석으로 변경
# code #
'''code'''
"""code"""

# 주석 관련 파이썬 예제
fruit1 = '수박'
fruit2 = '포도'
fruit3 = '키위'
myfavorite = '' # 좋아하는 과일의 목록

myfavorite += fruit1
myfavorite += fruit2
myfavorite += fruit3

print(myfavorite)

In [ ]:
a = 5
b = 3

print(a + b)
print(a / b)
print(a // b)
print(a % b)
print(a * b)
print(a ** b)

In [ ]:
a = 5
b = 3
a += b
print(a)

a = 5
b = 3
a -= b
print(a)

a = 5
b = 3
a *= b
print(a)

a = 5
b = 3
a /= b
print(a)

a = 5
b = 3
a //= b
print(a)

a = 5
b = 3
a %= b
print(a)

a = 5
b = 3
a **= b
print(a)

In [ ]:
money = int(input('돈을 넣어주세요.'))
count = int(input('몇 장 드릴까요?'))
ticket = 1200
money -= (ticket * count)
print('거스름돈', money)

In [ ]:
a = 10
b = 11
c = 12
d = 10

print('a == b : ', a == b)
print('a < b : ', a < b)
print('a >= c : ', a >= c)
print('a == d : ', a == d)

In [ ]:
print('a == b : ', a == b)
print('not(a == b) : ', not(a == b))
print('(a == b) and (a == d) : ', (a == b) and (a == d))
print('(a == b) or (a == d) : ', (a == b) or (a == d))

In [ ]:
money = int(input('돈을 넣어주세요.'))
count = int(input('몇 장 드릴까요?'))
ticket = 1200
money -= (ticket * count)

result = money < 0 and '잔액이 부족합니다. 금액을 투입해주세요. ' + '부족금액 : ', abs(money) or '거스름돈 : ' + str(money) 
print(result)

In [ ]:
a = 11
if (a > 10):
    print('a는 10 보다 큽니다.')
    print('콘솔에 출력됩니다.')
    print('조건문 참 쉽죠.')

In [ ]:
a = int(input('정수를 입력하세요. : '))
if (a > 10):
    print('a는 10보다 큽니다.')
else:
    print('a는 10보다 작거나 같습니다.')

In [ ]:
ID = "jamsuham"
PW = "1234"

userID = input('사용자 ID : ')
userPW = input('사용자 PW : ')

if (userID == ID):
    if (userPW == PW):
        print('로그인 완료')
    else:
        print('password를 확인해주세요')
else:
    print('ID를 확인해주세요.')

In [ ]:
subject = input('favorite subject')

if (subject == "python"):
    print('내가 가장 좋아하는 과목은 파이썬입니다.')
elif (subject == "java"):
    print('내가 가장 좋아하는 과목은 자바입니다.')
elif (subject == "c#"):
    print('내가 가장 좋아하는 과목은 C#입니다.')
else:
    print('내가 좋아하는 과목은 없습니다.')

In [ ]:
shortcut = int(input('단축키를 입력하세요 : '))

if (shortcut == 1):
    print('엄마 : 010 - xxxx')
elif (shortcut == 2):
    print('아빠 : 010 - xxxx')
elif (shortcut == 3):
    print('형 : 010 - xxxx')
elif (shortcut == 4):
    print('동생 : 010 - xxxx')
else:
    print('해당 단축키가 없습니다.')

In [ ]:
month = int(input('월 입력 : '))

if ((month >= 3) and (month <= 5)):
    print('봄')
elif ((month >= 6) and (month <= 8)):
    print('여름')
elif ((month >= 9) and (month <= 11)):
    print('가을')
elif ((month == 12) or (month == 1) or (month ==2)):
    print('겨울')
else:
    print('잘못된 입력값입니다.')

In [ ]:
score = int(input('점수를 입력하세요. : '))

if ((score > 90) and (score <= 100)):
    print('A')
elif ((score > 80) and (score <= 90)):
    print('B')
elif ((score > 70) and (score <= 80)):
    print('C')
elif ((score > 60) and (score <= 70)):
    print('D')
elif ((score >= 0) and (score <= 60)):
    print('F')
else:
    print('잘못된 입력값입니다.')

In [ ]:
print('====== 자판기 ======')
print ('1. 비타500 \n2.초코송이 \n3. 자일리톨')
print()

snack = 2000
drink = 1000
ggum = 500

money = int(input('Insert Coin : '))

if (money >= snack):
    print('비타500, 초코송이, 자일리톨 구매 가능')
elif ((money >= drink) and (money < snack)):
    print('비타500, 자일리톨 구매 가능')
elif ((money >= ggum) and (money < drink)):
    print('자일리톨 구매 가능')
else:
    print('잔액 부족')

In [ ]:
idnum = int(input('나이를 입력하세요. : '))

if (idnum >= 19):
    pass
else:
    print("신분증을 제시하세요.")

In [ ]:
import pandas as pd
pd.DataFrame({"a" : [1,2,3], "b" : [4,5,6]})

In [ ]:
pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns = ["A", "B", "C"])

In [ ]:
pd.Series([1,2,3])

In [ ]:
pd.Series({"a" : [1,2,3]})

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for i in range(2,5):
    print(i)

In [ ]:
i = float(i)
for i in range(0, 20, 3):
    print(i)

In [ ]:
for i in range(0, 5, 1):
    print(i + 1, 'Programming')

In [ ]:
a = []
a.append(1)
print(a)
a.append(2)
print(a)

In [ ]:
a = []
a.extend("1")
print(a)
a.append("2")
print(a)

In [ ]:
a = int(input('자연수 :'))
s = 0
for i in range(a + 1):
    s += i
print(s)

In [ ]:
for i in range(1, 366, 1):
    print(i, '일 지났습니다.')

In [ ]:
a = int(input('자연수 :'))
n = int(input('배수 :'))
s = 0
for i in range(0, a + 1, n):
    #print(i)
    s += i
print('자연수 중', a, '이하의', n, '배수의 합 : ', s)

In [ ]:
fav = int(input('가장 좋아하는 숫자 : '))
start = int(input('범위 시작값 : '))
end = int(input('범위 끝값 : '))

for i in range(start, end, 1):
    if (fav == i):
        print('내가 가장 좋아하는 숫자가 있습니다.')

In [ ]:
n = int(input('단수 : '))
print()

for i in range (1, 10, 1):
    print(n, '*', i, '=', n * i)

In [ ]:
n = int(input('단수 : '))
print()

for i in range (1, 10, 1):
    print('%d * %d = %d' %(n, i, n * i))

In [ ]:
for i in range(2, 10, 1):
    print(i, '단')
    for j in range(1, 10, 1):
        print('%d * %d = %d' %(i, j, i * j))
    print()

In [ ]:
for i in range(2, 10, 1):
    print(i, '단')
    for j in range(1, 10, 1):
        print('%d * %d = %d' %(i, j, i * j), end = " ")
    print()

In [ ]:
for i in range(10):
    print(i, end = " ")

In [ ]:
for j in range(1, 6, 1):
    for i in range(j):
        print('*', end = "")
    print()

In [ ]:
iloop = 0
while (iloop < 5):
    print('Programming')
    iloop += 1

In [ ]:
i = 1
sum = 0
while (i < 11):
    sum += i
    i += 1
print(sum)

In [ ]:
i = 1
sum = 0
while (i < 100):
    sum += i
    i += 2
print(sum)

In [ ]:
i = 1
while (i < 10):
    print('2 * %d = %d' %(i, 2 * i))
    i += 1

In [ ]:
d = int(input('단수를 입력하세요. : '))
i = 1
while (i < 10):
    print('%d * %d = %d' %(d, i, 2 * i))
    i += 1

In [ ]:
i = 1
j = 2
while (j < 10):
    while (i < 10):
        print('%d * %d = %d' %(j, i, j * i))
        i += 1
    j += 1

In [ ]:
j = 2
while (j < 10):
    i = 1
    while (i < 10):
        print('%d * %d = %d' %(j, i, j * i))
        i += 1
    print()
    j += 1

In [ ]:
hap = 0
inum = 0

while (True):
    inum = int(input('정수를 입력하세요. :'))
    hap += inum
    print("누적합 : %d" %(hap))

In [ ]:
a = 0

while (True):
    if (a > 100):
        break
    print('a의 값은 %d' %(a))
    a += 1
print('a는 100 보다 크다.')

In [ ]:
a = 0

while (a < 20):
    a += 1
    if ((a > 8) and (a < 12)):
        continue
    print('a의 값은 : %d' %(a))

In [ ]:
def plus(a, b):
    return a + b
def minus(a, b):
    return a - b
def multiple(a, b):
    return a * b
def devide(a, b):
    return a / b

i = int(input())
j = int(input())
print()
print(plus(i, j))
print(minus(i, j))
print(multiple(i, j))
print(devide(i, j))

In [ ]:
def gg(a):
    for i in range(1, 10, 1):
        print('%d * %d = %d' %(a, i, a * i))

g = int(input('단수를 입력하세요. : '))
gg(g)

In [ ]:
id = "jamsuham"
pw = "1234"
userid = input("아이디")
userpw = input("비밀번호")

def account(i, p):
    if (id == i):
        if (pw == p):
            print("로그인 되었습니다.")
        else:
            print("패스워드가 틀렸습니다.")
    else:
        print("아이디가 틀렸습니다.")
        
account(userid, userpw)

In [ ]:
coffee = ''

coffee = input('커피를 선택하시오(아메리카노, 카페라떼, 카페모카) : ')
print()

print('물을 준비한다.')
print('컵을 준비한다.')

if (coffee == '아메리카노'):
    print('3. 아메리카노를 탄다.')
elif (coffee == '카페라떼'):
    print('3. 카페라떼를 탄다.')
elif (coffee == '카페모카'):
    print('3. 카페모카를 탄다.')
else:
    print('아무거나 탄다.')
    
print('4. 물을 붓는다.')
print()
print(coffee, '한잔 서비스 완료')

In [ ]:
coffee = ''

coffee = input('커피를 선택하시오(아메리카노, 카페라떼, 카페모카) : ')
print()

def coffee_machine(c):
    print('1. 물을 준비한다.')
    print('2. 컵을 준비한다.')

    if (c == '아메리카노'):
        print('3. 아메리카노를 탄다.')
    elif (c == '카페라떼'):
        print('3. 카페라떼를 탄다.')
    elif (c == '카페모카'):
        print('3. 카페모카를 탄다.')
    else:
        print('3. 아무거나 탄다.')
    
    print('4. 물을 붓는다.')
    print()
    print(c, '한잔 서비스 완료')
    
coffee_machine(coffee)

In [ ]:
def f():
    a = input()
    print(a)
    f()
f()

In [ ]:

def coffee_machine(c):
    print('1. 물을 준비한다.')
    print('2. 컵을 준비한다.')

    if (c == '아메리카노'):
        print('3. 아메리카노를 탄다.')
    elif (c == '카페라떼'):
        print('3. 카페라떼를 탄다.')
    elif (c == '카페모카'):
        print('3. 카페모카를 탄다.')
    else:
        print('3. 아무거나 탄다.')
    
    print('4. 물을 붓는다.')
    print()
    print(c, '한잔 서비스 완료')

coffee = input('커피를 선택하시오(아메리카노, 카페라떼, 카페모카) : ')
coffee_machine(coffee)
coffee = input('커피를 선택하시오(아메리카노, 카페라떼, 카페모카) : ')
coffee_machine(coffee)
coffee = input('커피를 선택하시오(아메리카노, 카페라떼, 카페모카) : ')
coffee_machine(coffee)

In [ ]:
def coffee_machine():
    c = input('커피를 선택하시오(아메리카노, 카페라떼, 카페모카) : ')
    print()
    print('1. 물을 준비한다.')
    print('2. 컵을 준비한다.')

    if (c == '아메리카노'):
        print('3. 아메리카노를 탄다.')
    elif (c == '카페라떼'):
        print('3. 카페라떼를 탄다.')
    elif (c == '카페모카'):
        print('3. 카페모카를 탄다.')
    else:
        print('3. 아무거나 탄다.')
    
    print('4. 물을 붓는다.')
    print()
    print(c, '한잔 서비스 완료')
    
    coffee_machine()
    
coffee_machine()

In [ ]:
def k():
    print('2. lee = 10 변수를 메모리에 적재합니다.')
    lee = 10
    print('3. j() 함수를 호출하였습니다.')
    j()
    print('6. lee = 10변수를 메모리에서 소멸합니다.')
    
def j():
    print('4. lee = 20 변수를 메모리에 적재합니다.')
    lee = 20
    print('5. lee = 20 변수를 메로리에 소멸합니다.')
    
print('1. k() 함수를 호출하였습니다.')
k()

In [ ]:
h = 100

def sum(value):
    h = 20
    h += value
    print('h 출력 : %d' %(h))
    
sum(10)
print('h 출력 : %d' %(h))

In [ ]:
h = 100

def sum(value):
    global h
    h += value
    print('h 출력 : %d' %(h))
    
sum(10)
print('h 출력 : %d' %(h))

In [ ]:
k = [1, 2, 3]
sum = k[0] + k[1] + k[2]
print(sum)

In [ ]:
k = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = k[0] + k[1] + k[2] + k[3] + k[4] + k[5] + k[6] + k[7] + k[8] + k[9]
print(sum)

In [ ]:
k = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0
for i in range(10):
    sum += k[i] 
print(sum)

In [ ]:
del(sum)
sum(k)

In [ ]:
sum_ = 0
k = []

k.append(1)
k.append(2)
k.append(3)
k.append(4)
k.append(5)

for i in range(5):
    sum_ += k[i]
    
print(sum_)

In [ ]:
sum_ = 0
k = []

for i in range(1, 6, 1):
    k.append(i)

for i in range(5):
    sum_ += k[i]
    
print(sum_)

In [ ]:
sum_ = 0
k = []

for i in range(1, 1001, 1):
    k.append(i)

for i in range(1000):
    sum_ += k[i]
    
print(sum_)

In [ ]:
%reset

In [ ]:
k = [1, 2, 3, 4, 5, 6, 7]
print(k[0 : 2])
print(k[0 : 5])
print(k[0 : 6])

In [ ]:
k = [10, 20, 30]
t = [40, 50, 60]

print(k + t)
print(k * 3)

In [ ]:
k = [1, 2, 3, 4]
k[0] = 10
k[2] = 30
print(k)

In [ ]:
k = [1, 2, 3, 4]
k[2:] = [30, 31, 32]
print(k)

In [ ]:
k = [1, 2, 3, 4]
del(k[2])
print(k)

In [ ]:
k = [1, 2, 3, 4]
k[1:3] = []
print(k)

In [ ]:
k = [1, 2, 3, 4]
del(k[1:3])
print(k)

In [ ]:
k = [1, 2, 3, 4, 5, 6]
a = [1000, 2000]
print('k : ', k)

k.append(50) # 항목추가
print('append(50) : ', k)
k.pop() # 끝 항목 삭제
print('pop() : ', k)
k.reverse() # 역순정렬
print('reverse() : ', k)
k.sort() # 오름차순 정렬
print('k.sort() : ', k)
k.remove(2) # 요소 삭제(요소로 접근)
print('k.remove(2) : ', k)
del(k[2]) # 요소 삭제(인덱스로 접근)
print('del(k[2]) : ', k)
k.insert(1, 3) # 지정한 위치에 값 삽입
print('k.insert(1, 3) : ', k)
k.extend(a) # 리스트와 리스트 더하기
print('k.extend(a) : ', k)
k.count(3) # 특정 값의 개수
print('k.count(3) : ', k.count(3))
len(k) # 리스트 길이
print('len(k) : ', len(k))
k.index(5) # 특정 값의 인덱스
print('index(5) : ', k.index(5))

In [ ]:
tp1 = (1, 2, 3, 4)
tp2 = 1, 2, 3, 4
print(tp1)
print(tp2)

tp3 = (10,)
tp4 = (10)
tp5 = 10,
print(tp3)
print(tp4)
print(tp5)

In [ ]:
tp = (1, 2, 3, 4)
print('tp[1] : ', tp[1])
print('tp[3] : ', tp[3])

sum_ = tp[0] + tp[1] + tp[2] + tp[3]
print('sum_ : ', sum_ )

In [ ]:
tp = (1, 2, 3, 4)
print(tp[1:3])
print(tp[1:])
print(tp[:3])

In [ ]:
tp1 = (1, 2)
tp2 = ('짝',)
print(tp1 + tp2)
print(tp2 * 3)

In [ ]:
mytp = ('나 혼자', '파이썬')
print('mytp : ',mytp)
print('type(mytp) : ',type(mytp))
print()

mylist = list(mytp)
print('mylist : ', mylist)
print('type(mylist)', type(mylist))
print()

mylist[0] = '다 함께'
print('mylist[0] = "다 함께" 변경 후 : ', mylist)
print()

mytp = tuple(mylist)
print('mytp : ', mytp)
print('type(mytp) : ',type(mytp))

In [ ]:
p = {'컵라면' : 800, '삼각김밥' : 1000, '소세지' : 1500}
w = {'boy' : '소년', 'girl' : '소녀', 'family' : '가족'}

print(p)
print(w)

In [ ]:
p = {'컵라면' : 800, '삼각김밥' : 1000, '소세지' : 1500}

p['오뎅'] = 2000
p['닭다리'] = 3000
p['아이스크림'] = 1000
print(p)

In [ ]:
p = {'컵라면' : 800, '삼각김밥' : 1000, '소세지' : 1500}

del(p['컵라면'])
del(p['소세지'])

print(p)

In [ ]:
p = {'컵라면' : 800, '삼각김밥' : 1000, '소세지' : 1500}
print(p.get('삼각김밥'))
print(p.keys())
print(p.values())

In [ ]:
p = {'컵라면' : 800, '삼각김밥' : 1000, '소세지' : 1500}
p_k = list(p.keys())
print(p_k)
p_v = list(p.values())
print(p_v)

In [ ]:
'컵라면' in p

In [ ]:
'치킨' in p

In [ ]:
p = {'컵라면' : 800, '삼각김밥' : 1000, '소세지' : 1500}
item = input('상품을 입력하세요. :')

if (item in p):
    print('편의점에 상품이 있습니다.')
else:
    print('편의점에 존재하지 않는 상품입니다.')

In [ ]:
capital = {'네팔' : '카트만두',
          '대한민국' : '서울',
          '일본' : '도쿄',
          '중국' : '베이징',
          '이탈리아' : '로마',
          '러시아' : '모스크바',
          '독일' : '베를린',
          '미국' : '워싱턴',
          '프랑스' : '파리',
          '영국' : '런던'}
while (True):
    contry = input(str(list(capital.keys())) + "나라의 수도는 무엇일까요? ")
    if (contry in capital):
        print(contry, '의 수도는', capital.get(contry), '입니다.')
    elif (contry == "exit"):
        break
    else:
        print('그런 나라 없습니다.')

In [ ]:
arr_list = [1, 2, 3, 4, 5]
if (9 not in arr_list):
    print('9가 없다.')
else:
    print('9가 있다.')

In [ ]:
str_ = 'Hello'
if ('a' not in str_):
    print('a가 문자열 안에 없다.')
else:
    print('a가 문자열 안에 있다.')

In [ ]:
df_list = ['kim_a', 'kim_b', 'kim_c', 'seo_a', 'seo_b', 'seo_c']
for col in df_list:
    if ('kim' not in col):
        print(col)

In [ ]:
df_list = ['kim_a', 'kim_b', 'kim_c', 'seo_a', 'seo_b', 'seo_c']
unselect_list = ['kim_a', 'seo_a']

for col in df_list:
    if (col not in unselect_list):
        print(col)

In [ ]:
df_list = ['c programming', 'python programming', 'mysql', 'jquery']

for col in df_list:
    if ('pro' not in col):
        print(col)

In [ ]:
print('i' + ' love' + ' you')

str1 = 'i'
str2 = ' love'
str3 = ' you'
print(str1 + str2 + str3)

In [ ]:
print('-' * 30)
print('i ' + 'love ' * 3 + 'you')
print('-' * 30)

In [ ]:
str = '답은 정해져 있어 너는 대답만 해'
print(str[0], end = '')
print(str[3], end = '')
print(str[10], end = '')

In [ ]:
str1 = '다시 합창 합시다'
print(str1)
str2 = ''

count = len(str1)

for i in range(0, count):
    str2 += str1[count - (i + 1)]
print('str1 : ', str1)
print('str2 : ', str2)

In [ ]:
str = 'To be or not to be'

print(str[0] + str[1] + str[2] + str[3] +str[4])
print(str[0:5])
print(str[6:8])
print(str[9:16])

In [ ]:
str = 'To be or not to be'

print(str[0:])
print(str[:8])
print(str[:])

In [ ]:
value = int(input('정수값을 입력하세요. : '))
print('현재 시간은 %d시 입니다.' % (value))

value = float(input('실수값을 입력하세요. : '))
print('현재 체온은 %.1f도 입니다.' % (value))

value = input('문자열을 입력하세요. : ')
print('나는 %s에 살고 있습니다.' % (value))

In [ ]:
print('강수 확률은 %d%%입니다.' % 60)

In [ ]:
'현재 시간은 {0}시 입니다.' .format(3)

In [ ]:
'나는 {0}에 살고 있습니다.' .format('수원')

In [ ]:
'현재 시간은 {0}시 {1}분 입니다.' .format(12, 30)

In [ ]:
print('현재 시간은 {0}시 {1}분 입니다.' .format(12, 30))

In [ ]:
print('현재 기온은 %d' %(40))

In [ ]:
'현재 기온은 %d' %(40)

In [ ]:
value = int(input('정수값을 입력하세요. : '))
print('현재 시간은 {0}시 입니다.' .format(value))

value = input('문자열을 입력하세요. : ')
print('나는 {0}에 살고 있습니다.' .format(value))
      
value1 = int(input('첫 번째정수값을 입력하세요. : '))
value2 = int(input('두 번째정수값을 입력하세요. : '))
print('현재 시간은 {0}시 {1}분 입니다' .format(12, 30))

In [ ]:
str1 = '간장 공장 공장장은 강 공장장이고 된장 공장 공장장은 공 공장장이다.'

chr1 = str1.count('공')
chr2 = str1.count('장')

print('"공"의 개수 : %d' % chr1)
print('"장"의 개수 : %d' % chr2)

str2 = '내가 그린 기린 그림은 잘 그린 기린 그림이고 네가 그린 기린 그림은 잘 못 그린 기린 그림이다.'

str2_1 = str2.count('그린')
str2_2 = str2.count('기린')
str2_3 = str2.count('그림')

print('"그린"의 개수 : %d' % (str2_1))
print('"기린"의 개수 : %d' % (str2_2))
print('"그림"의 개수 : %d' % (str2_3))

In [ ]:
str1 = '간장 공장 공장장은 강 공장장이고 된장 공장 공장장은 공 공장장이다.'

chr1 = str1.find('공')
chr2 = str1.index('장')

print('"공"의 위치 : %d' % (chr1))
print('"장"의 위치 : %d' % (chr2))

str2 = '내가 그린 기린 그림은 잘 그린 기린 그림이고 네가 그린 기린 그림은 잘 못 그린 기린 그림이다.'

str2_1 = str2.find('그린')
str2_2 = str2.index('기린')
str2_3 = str2.find('음악')

print('"그린"의 위치 : %d' % (str2_1))
print('"기린"의 위치 : %d' % (str2_2))
print('"음악"의 위치 : %d' % (str2_3))

In [ ]:
train_str = '칙칙폭폭'
num_str = '123456789'

div_str1 = '-'.join(train_str)
div_str2 = ':'.join(num_str)

print(div_str1)
print(div_str2)

In [ ]:
ani_list = ['강아지', '고양이', '원숭이', '코끼리']
time_list = ['12', '30', '55']

ani_str = '+'.join(ani_list)
time_str = ':'.join(time_list)

print(ani_str)
print(time_str)

In [ ]:
planet_str = '수성-금성-지구-화성-목성-토성-천왕성-해왕성'
time_str = '12시:30분:55초'

planet_list = planet_str.split('-')
time_list = time_str.split(':')

print(planet_list)
print(time_list)

In [ ]:
eng_str = input('영문자를 입력하세요. : ')

upper_str = eng_str.upper()
lower_str = eng_str.lower()

print('대문자로 변환 : %s' % (upper_str))
print('소문자로 변환 : %s' % (lower_str))

In [ ]:
str1 = ' 죽는 날까지 하늘을 우러러'
str2 = '한점 부끄럼이 없기를 '
str3 = ' 잎새에 이는 바람에도 '

lstrip_str = str1.lstrip()
rstrip_str = str1.rstrip()
strip_str = str1.strip()

print('str1 : %s' % (str1))
print('str2 : %s' % (str2))
print('str3 : %s' % (str3))

print()
print('왼쪽 공백 없애기 : %s' %(lstrip_str))
print('오른쪽 공백 없애기 : %s' %(rstrip_str))
print('양쪽 공백 없애기 : %s' %(strip_str))

In [ ]:
while (True):
    str_ = input('문자열을 입력하세요. :')
    
    if (str_.isdigit()):  # 숫자로 구성되어 있는가
        print('문자열은 숫자로 구성되어 있습니다.')
    elif (str_.isalpha()): # 문자로 구성되어 있는가 
        print('문자열은 글자로 구성되어 있습니다.')
        if (str_.isupper()): # 대문자로 구성되어 있는가
            print('문자열은 대문자로 구성되어 있습니다.')
        elif (str_.islower()): # 소문자로 구성되어 있는가
            print('문자열은 소문자로 구성되어 있습니다.')
    elif (str_.isspace()): # 공백으로 구성되어 있는가
        print('문자열은 공백으로 구성되어 있습니다.')
        break
    else:
        print('모르겠습니다.')

In [ ]:
a = list(range(1, 26, 1))
print(a)

print(a[12])
print(a[-13])

In [ ]:
import os
os.getcwd()

In [ ]:
fName = 'poem.txt'
fp = open(fName, "rt")
print(fp.read())
fp.close()

In [ ]:
fName = 'poem.txt'
fp = open(fName, "rt")

strline = fp.readline()
print(strline)

strline = fp.readline()
print(strline)

strline = fp.readline()
print(strline)

strline = fp.readline()
print(strline)



fp.close()

In [ ]:
fName = 'poem.txt'
fp = open(fName, "rt")

while (True):
    strline = fp.readline()
    if (strline ==''):
        break
    print(strline)



fp.close()

In [ ]:
fName = 'poem.txt'
fp = open(fName, "rt")

strline = fp.readlines()
print(strline)

fp.close()

In [ ]:
fName = 'poem.txt'
fp = open(fName, "rt")

strline = fp.readlines()

for strlist in strline:
    print(strlist)

fp.close()

In [ ]:
import os
fName = input('파일명을 입력하세요. : ')
print()

if (os.path.exists(fName)):
    with open(fName, "r") as fp:
        strline = fp.readlines()
        for strlist in strline:
            print(strlist)
else:
    print('%s 파일은 존재하지 않습니다.' % (fName))

In [ ]:
fName = 'file.txt'

with open(fName, 'w') as fp:
    while (True):
        instr = input('데이터 입력 : ')
        
        if (instr == '\q'):
            break
        fp.writelines(instr + '\n')
with open(fName, 'r') as fp:
    strline = fp.readlines()
    print()
    print('<출력>')
    for strlist in strline:
        print(strlist)

In [ ]:
srcfile = 'file.txt'
destfile = 'destFile.txt'

sfp = open(srcfile, 'r')
dfp = open(destfile, 'w')

slist = sfp.readlines()
for instr in slist:
    dfp.writelines(instr)
    
sfp.close()
dfp.close()

print('file.text 파일에서 destfile.txt로 복사하였습니다.')

In [ ]:
srcfile = 'sea.jpg'
destfile = 'seacpy.jpg'

sfp = open(srcfile, 'rb')
dfp = open(destfile, 'wb')

while (True):
    sbyte = sfp.read()
    if (not sbyte):
        break
    dfp.write(sbyte)
    
sfp.close()
dfp.close()

print('sea.jpg 파일에서 seacpy.jpg로 복사하였습니다.')

In [ ]:
import os 

srcfile = 'SleepAway.mp3'

if (os.path.exists(srcfile)):
    sfp = open(srcfile, 'rb')
    
    sfp.seek(-128, 2)
    tdata = sfp.read(128)
    
    title = tdata[3:33].decode()
    print('제목 : ', title)
    
    artist = tdata[33:63].decode()
    print('가수 : ', artist)
    
    mdate = tdata[93:97].decode()
    print('출시년도 : ', mdate)
    
    etc = tdata[97:127].decode()
    print('기타정보 : ', etc)
    
    sfp.close()
    print('\n 음악 파일 정보를 정상적으로 출력하였습니다.')

# DataBase

In [1]:
import sqlite3
conn = sqlite3.connect('bookStoreDB')
print('1. DB연결성공')

1. DB연결성공

In [2]:
cur = conn.cursor()
print('2. 커서 생성 성공')

2. 커서 생성 성공

In [3]:
cur.execute('create table if not exists bookItem (item char(100), author char(50), publisher char(50), stock int)')
print('3. 테이블 생성')

3. 테이블 생성

In [ ]:
# cur.execute("delete from bookItem")
# conn.commit()

In [4]:
cur.execute("insert into bookItem values('C programming', 'lee', 'digitalbooks', '100')")
cur.execute("insert into bookItem values('Python', 'lee', 'digitalbooks', '50')")
cur.execute("insert into bookItem values('Javascript', 'lee', 'hyejiwon', '300')")
cur.execute("insert into bookItem values('Django', 'kim', 'hyejiwon', '30')")
print('4. 데이터 입력')

4. 데이터 입력

In [5]:
conn.commit()
print('5.데이터 저장')

5.데이터 저장

In [6]:
cur.execute("select * from bookItem;")
print('6. 데이터 조회')

6. 데이터 조회

In [7]:
# row = cur.fetchall()
# print(row)
# print('\n7. 데이터 출력')

In [8]:
# row = cur.fetchmany(5)
# print(row)
# print('\n7. 데이터 출력')

In [9]:
while (True):
    row = cur.fetchone()
    if (row == None):
        break
    print(row)
print('\n7. 데이터 출력')

('C programming', 'lee', 'digitalbooks', 100)
('Python', 'lee', 'digitalbooks', 50)
('Javascript', 'lee', 'hyejiwon', 300)
('Django', 'kim', 'hyejiwon', 30)

7. 데이터 출력

In [ ]:
conn.close()
print('8. DB연결 종료')

# Class

In [40]:
class Car:
    
    def __init__(self, c_value, s_value, d_value):
        # 자동차의 멤버 변수
        self.__color = c_value
        self.__speed = s_value
        self.__direction = d_value
    
    # 자동차의 메소드
    def set_Speed(self, s_value):
        self.__speed = s_value
        
    def set_Direction(self, d_value):
        self.__direction = d_value
    
    def set_Color(self, c_value):
        self.__color = c_value
        
    def get_Speed(self):
        return self.__speed
        
    def get_Direction(self):
        return self.__direction
    
    def get_Color(self):
        return self.__color
    

        
mycar1 = Car('초록색', 30, '전진')
mycar2 = Car('빨강색', 60, '후진')
mycar3 = Car('노랑색', 100, '전진')

# mycar1.set_Color("초록색")
# mycar1.set_Speed(30)
# mycar1.set_Direction("전진")

# mycar2.__color = "빨강색"
# mycar2.__speed = 60
# mycar2.__direction = "후진"

# mycar3.__color = "노랑색"
# mycar3.__speed = 100
# mycar3.__direction = "전진"

print('자동차1의 정보 : ', mycar1.get_Color(), mycar1.get_Speed(), mycar1.get_Direction())
print('자동차2의 정보 : ', mycar2.get_Color(), mycar2.get_Speed(), mycar2.get_Direction())
print('자동차3의 정보 : ', mycar3.get_Color(), mycar3.get_Speed(), mycar3.get_Direction())

자동차1의 정보 :  초록색 30 전진
자동차2의 정보 :  빨강색 60 후진
자동차3의 정보 :  노랑색 100 전진

In [44]:
class Sedan(Car):
    gasoline = 100
    
    def get_Gasoline(self):
        return self.gasoline
    
class Suv(Car):
    diesel = 60
    
    def get_Diesel(self):
        return self.diesel
    
sedan = Sedan('초록색', 30, '전진')
print('승용차의 정보 : ', sedan.get_Color(), sedan.get_Speed(), sedan.get_Direction(), sedan.get_Gasoline())

suv = Sedan('빨강색', 60, '후진')
print('승용차의 정보 : ', suv.get_Color(), suv.get_Speed(), suv.get_Direction(), suv.get_Gasoline())

승용차의 정보 :  초록색 30 전진 100
승용차의 정보 :  빨강색 60 후진 100

In [21]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [29]:
del(Car)

In [56]:
def factorial(n):
    ret = 1
    i = 1
    while (i < n + 1):
        ret *= i
        i += 1
    return ret

factorial(4)

24

In [58]:
def factorial(n):
    ret = 1
    for i in range(1, n + 1, 1):
        ret *= i
    return ret

factorial(5)

120

In [62]:
def factorial(n):
    if (n > 1):
        return n * factorial(n - 1)
    else:
        return 1
    
factorial(5)

120

In [1]:
import time
start = time.time()

for i in range(10000000):
  i *= (i + 1)

end = time.time()

end - start

1.0212781429290771